<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7644.0">
	<blobStorage>
		<providers>
			<add connectionString="DefaultEndpointsProtocol=https;AccountName=stfr5apiprodeastau;AccountKey=iBWPh02teKQ3O8PSisevIChE5QfaoYdHSJP7uY3XV/+XbsHxHkxBb1ZhOpiSwmh9JRkMWWe/gAjx+AStrU6GvQ==" containerName="downloadtesting" type="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobStorageProvider, Telerik.Sitefinity.Azure" name="Azure" />
		</providers>
	</blobStorage>
</librariesConfig>