<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7644.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="2823D62793B1B1D72ABD27472BB01266767FBB134CFBADE42858BF30DFC1E763A366C5F23CA5740C870DC3C0BA3023AF3CB73C50CAE7EA8EBEAADDF2656A4700" decryptionKey="1F1BA6CDF47B274BEE66A8159A7634E22667B6FC147A46FECBE125977B1CCCF3" loggingCookieName=".SFLOG-/" authenticateOnFrontendLoginPage="True">
	<securityTokenIssuers>
		<add key="8A33AA7E0AED88216701D9CC78C170B32FA34CE705B7CB0E957EDCFE4D9EF137" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="8A33AA7E0AED88216701D9CC78C170B32FA34CE705B7CB0E957EDCFE4D9EF137" realm="http://localhost" />
	</relyingParties>
</securityConfig>